#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1ed84962-d709-474b-96da-5e4c6cf4cce1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}