#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}