#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 {
  position: absolute;
  top: 171px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 span#rtr-s-Text_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Image_1 {
  position: absolute;
  top: 280px;
  left: 51px;
  width: 900px;
  height: 307px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 83px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 83px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 {
  position: absolute;
  top: 20px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 24.0pt;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 {
  position: absolute;
  top: 5px;
  left: 911px;
  width: 90px;
  height: 30px;
  background-color: #699CFC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Group_4 {
  position: absolute;
  top: 83px;
  left: 0px;
  width: 1024px;
  height: 60px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 344px;
  height: 60px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 13.000001pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 {
  position: absolute;
  top: 0px;
  left: 343px;
  width: 341px;
  height: 60px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 13.000001pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 {
  position: absolute;
  top: 0px;
  left: 683px;
  width: 341px;
  height: 60px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 13.000001pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 13.000001pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Group_6 {
  position: absolute;
  top: 214px;
  left: 50px;
  width: 635px;
  height: 38px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 635px;
  height: 38px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 631px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 {
  position: absolute;
  top: 4px;
  left: 115px;
  width: 49px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 span#rtr-s-Text_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 104px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.000003pt;
  font-family: Arial,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000003pt;
  font-style: normal;
  font-weight: 700;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.000003pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 {
  position: absolute;
  top: 214px;
  left: 706px;
  width: 107px;
  height: 29px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 {
  position: absolute;
  top: 214px;
  left: 836px;
  width: 107px;
  height: 29px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}