#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 107px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 107px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-bea45cf5-4930-4e3f-b875-eac8c18a8dff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}