#s-c93181c3-415a-48d3-b796-b857aedb8424 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_1 {
  position: absolute;
  top: 100px;
  left: 397px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Group_2 {
  position: absolute;
  top: 177px;
  left: 350px;
  width: 301px;
  height: 155px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 299px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_2 {
  position: absolute;
  top: 59px;
  left: 0px;
  width: 299px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_2 {
  position: absolute;
  top: 10px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_3 {
  position: absolute;
  top: 68px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_3 {
  position: absolute;
  top: 118px;
  left: 0px;
  width: 299px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_4 {
  position: absolute;
  top: 128px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Button_1 {
  position: absolute;
  top: 354px;
  left: 424px;
  width: 146px;
  height: 29px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c93181c3-415a-48d3-b796-b857aedb8424 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}