<!-- <p>
    home works!
</p> -->

<app-firebase></app-firebase>


<!--

<div layoiut-fill layout="column" layout-align="center none">
	<div layout="row" layout-align="center none">
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card title</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                Card content
            </md-card-content>

        </md-card>
	</div>
</div>

 -->

<app-select-data-form></app-select-data-form>
