<!-- <p>
    home works!
</p> -->



<div style="display: flex; padding-top: 20px;" layout="row" layout-align="center center">

	<div style="flex-grow: 1; background-color: linen;"></div>

	<div style="text-align: center;">


    <md-card *ngFor="let plot of plots" class="demo-card-blue md-card-flat" style="display: inline-block; margin:auto;">
      <md-card-header>
        <md-card-title>{{plot.title}}</md-card-title>
        <md-card-subtitle>{{plot.description}}</md-card-subtitle>
      </md-card-header>

      <img md-card-image src={{plot.img_url}}>

      <md-card-actions>
        <button md-button>View</button>
        <button md-button>Share</button>
      </md-card-actions>
		</md-card>



	</div>

	<div style="flex-grow:1; background-color: linen;"></div>


</div>




<!--

<div layoiut-fill layout="column" layout-align="center none">
	<div layout="row" layout-align="center none">
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card title</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                Card content
            </md-card-content>

        </md-card>
	</div>
</div>

 -->

<app-select-data-form></app-select-data-form>
