/*setting big screeen little screen media queries*/
@media screen and (max-width: 550px) and (min-width:0px){
  .screen-sm{
    visibility: visible;
  }
  
  .screen-lg{
    display:none;
  }
}

/*setting big screeen little screen media queries*/
@media screen and (min-width: 551px){
  .screen-sm{
    display: none;
  }

  .screen-lg{
    visibility: visible 
    }
}

/*r3 brand*/
.r3-brand{
  font-family: 'Roboto';
  font-size: 150%;
}

/*r3 nav tab spec*/
.r3-nav-tab{
  padding-left:3px;
  padding-right:7px;
  display: inline-flex;
  text-decoration: none !important;
  margin-bottom:3px !important;
}

.r3-nav-tab:link{
  color: white;
}

/*visited link*/
.r3-nav-tab:visited{
  color: white;
}

/*mouse over link*/
.r3-nav-tab:hover{
  color: white;
  border-bottom-style: solid;
  border-bottom-color:rgb(255, 87, 34);
  border-width: 3px !important;
  margin-bottom: 0px !important;
  cursor: pointer;
}

/*selected link*/
.r3-nav-tab:active{
  color: white;
}

#before-t #above-t, #combined-t{
  width:600px;
  height: 20px;

}

.bottom-row{
  position: absolute; 
  top: 200px;
}

.demo-toolbar{
  display:flex;
  justify-content: space-between;
  width:100%;
}

