<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1>Visualization Page</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			
			    <div class="input-group input-group-lg">
			      	<md-input placeholder="Enter Link">
						
						
					</md-input>
			  		
			    </div>
		</div>
		<div class="col-lg-12">
		    <div class="input-group input-group-lg">
		      <input type="text" class="form-control input-lg" id="search-church" placeholder="Your location (City, State, ZIP)">
		      <span class="input-group-btn">
		        <button md-raised-button color="primary" >Save</button>
		  		<button md-raised-button color="warn" >Delete</button>
		      </span>
		    </div><!-- /input-group -->
	  	</div><!-- /.col-lg-6 -->

	</div>

	


	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			  <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" class="img-fluid img-responsive" alt="visualization" style="width: 100%;">
		</div>
	</div>
</div>
